<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
</head>
<body>
<div>
    <h1>List of cars</h1>
    <table border="2">
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Series</th>
            <th scope="col">Owner</th>
        </tr>

        <tbody>
        <tr th:each="car: ${listOfCars}">
            <td th:text="${car.model}"/>
            <td th:text="${car.series}"/>
            <td th:text="${car.owner}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>